html {
    width: 100%;
    height: 100%;
}
h1 {
    font-family: Cabin, sans-serif;
    font-weight: 740;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 65px;
    text-decoration: underline;
    word-spacing: -1.2pt;
    line-height: 1.4;
}
h2 {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 470;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 55px;
    word-spacing: 0.5pt;
    line-height: 1.2;
}
h4 {
    font-family: Arial sans-serif;
    font-weight: 380;
    letter-spacing: 1.8px;
    font-size: 40px;
    word-spacing: 0.5pt;
    line-height: 1;
}

body {
    font-family: Georgia, Arial, sans-serif;
    position: relative;
    color: white;
    text-align: center;
    font-size: 60px;
    letter-spacing: 1.2pt;
    line-height: 0.5;
}

li {
    text-align: left;
    letter-spacing: 1.2pt;
    line-height: 0.5;
    width: 40px;
    height: 50px;
    font-size: 30px;
    display: table;
    float: center;
}
a{
    color: #a0100d;
}

